.service{
    display: flex;
    justify-content: center;
    position:relative;
}

.serviceContainer{
    width: 100%;
    max-width:1024px;
    margin:20px 0px 100px 0px;
}

h1{
    margin-bottom: 10px;
}

